<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191446552793-oo73jjgoc7g8j74v3fa4korqmsssqvus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191446552793-oo73jjgoc7g8j74v3fa4korqmsssqvus</string>
	<key>API_KEY</key>
	<string>AIzaSyCbJhRbxhE87vANeVn_O4saE86FTAjt0l8</string>
	<key>GCM_SENDER_ID</key>
	<string>191446552793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DmitryPavlov.SignInFaribase</string>
	<key>PROJECT_ID</key>
	<string>fir-app-f80fa</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-f80fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191446552793:ios:1cb96a4bea717cd9ea2ec8</string>
</dict>
</plist>